/*=========
===FONTS===
=========*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/*=============
===VARIABLES===
=============*/

:root {
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
}

/*=============
=GLOBAL STYLES=
=============*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #222;
  color: white;
  line-height: 1.5;
  font-size: 62.5%;
}
ul {
  list-style-type: none;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  /*font-family: ;*/
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  margin-bottom: 1.25rem;
  color: forestgreen;
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.25rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* global classes */

/* main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-header {
  color: yellowgreen;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 4rem;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/*===========
==QUESTIONS==
===========*/
.section-center {
  max-width: 620px;
}
.question {
  background: #ddd;
  border-radius: 0.5rem;
  box-shadow: var(--light-shadow);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.question-title p {
  letter-spacing: 0.25rem;
  margin-bottom: 0;
  color: darkgreen;
}
.faq-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: yellowgreen;
  transition: all 0.3s linear;
}
.faq-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
}
/* hide text by default */
.question-text {
  display: none;
}
/*show text - class added by click of btn*/
.show-text .question-text {
  display: block;
}
/*hide minus icon by default since text is already hidden by default*/
.minus-icon {
  display: none;
}
/*show minus icon -class added by click of btn*/
.show-text .minus-icon {
  display: inline;
}
/*hide plus icon -class added by click of btn */
.show-text .plus-icon {
  display: none;
}
/*=======
===NAV===
=======*/
nav {
  background: #777;
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  /* aligns items in the middle of the screen/horizontally(on x-axis) */
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.toggle-nav {
  font-size: 1.5rem;
  color: yellowgreen;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.toggle-nav:hover {
  color: forestgreen;
  transform: rotate(270deg);
}
/*.logo {
  height: 40px; UNCOMMENT WHEN YOU HAVE ADDED A LOGO/STYLED HEADER
  
}*/

.header {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  white-space: nowrap;
  text-transform: uppercase;
  color: yellowgreen;
}
.nav-link {
  color: yellowgreen;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.nav-link:hover {
  color: forestgreen;
  background: #222;
  padding-left: 1.5rem;
}

.socials {
  display: none;
}
/*=====
Hide links by default 
=====*/
.links {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  padding-right: 10rem;
}

/*toggle menu class*/
.show-links {
  height: 12.5rem;
}

@media screen and (min-width: 800px) {
  .navbar {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .toggle-nav {
    display: none;
  }
  /*
  ==========
  IMPORTANT TO ADD ELSE THE HEIGHT WILL REMAIN 224PX/14REM IN FULLSCREEN 
  AND DISAPPEAR WHEN BUTTON IS PRESSED
  ==========
  */
  .links {
    height: auto;
    display: flex;
  }
  .nav-link {
    padding: 0;
    margin: 0 0.5rem;
    font-size: 1rem;
  }
  .nav-link:hover {
    padding: 0;
    background: transparent;
  }
  .socials {
    display: flex;
  }
  .socials a {
    margin: 0 0.5rem;
    color: yellowgreen;
  }
  .socials i {
    transition: var(--transition);
  }
  .socials i:hover,
  .socials i:focus {
    transform: translateY(-5px);
    color: forestgreen;
  }
}
